<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtBAAon76hJ75ysC2H6zbBRccdFrCGkfE</string>
	<key>GCM_SENDER_ID</key>
	<string>94454556570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleanshift.app</string>
	<key>PROJECT_ID</key>
	<string>cleanshift-bf4a1</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanshift-bf4a1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94454556570:ios:3f2d4e100ec6693d6efc23</string>
</dict>
</plist>